.idea
build
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

gimletd.sqlite
.env
deploykey
deploykey.pub
repocache

fixtures/k3s/kubeconfig.yaml

.vscode/settings.json
